rust.codevoweb.com {
    rewrite /api* /api{uri}
    rewrite /db* /db{uri}
    rewrite /pgadmin* /pgadmin{uri}
    
    reverse_proxy /api* api-rust:8000
    reverse_proxy /db* postgres:6500
    reverse_proxy /pgadmin* pgadmin:80

    header {
        Strict-Transport-Security max-age=31536000;
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        X-XSS-Protection "1; mode=block"
        Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'"
    }
}
