rust.codevoweb.com {
    reverse_proxy api-rust:8000 {
        header_down Strict-Transport-Security max-age=31536000;
    }
}

pgadmin4.codevoweb.com {
    reverse_proxy pgadmin:80 {
        header_down Strict-Transport-Security max-age=31536000;
    }
}
